.app-test {
    position: absolute;
    height: 80%;
    width: 80%;
}

.button {
    position: absolute;
    z-index: 9;
}

.model-dialog{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
    width: 100%;
}

#canvas-P{
    height: 80%;
    width: 80%;
}